---
import AnimatedLabel from '../../../components/atoms/AnimatedLabel.astro';
import Button from '../../../components/atoms/Button.astro';
import CogWheelSpinner from '../../../components/atoms/CogWheelSpinner.astro';
import ErrorHint from '../../../components/atoms/ErrorHint.astro';
import FormCard from '../../../components/atoms/FormCard.astro';
import PasswordField from '../../../components/atoms/PasswordField.astro';
import CardsList from '../../../components/molecules/CardsList.astro';
---

<div class="password-form-slide">
    <AnimatedLabel id="choose-password" reverse>
        3. Set a password
    </AnimatedLabel>
    <FormCard>
        <span slot="title">Vault Password</span>

        <PasswordField id="password" placeholder="Enter a password" />
        <PasswordField
            id="password-confirmation"
            placeholder="Repeat the password"
        />
        <ErrorHint id="error" hidden>Passwords do not match</ErrorHint>

        <div class="submit-row">
            <Button id="submit">
                <CogWheelSpinner />
                <div>Encrypt</div>
            </Button>
            <!-- {#if isProcessing}
                <CogWheelSpinner />
            {:else}
                <Button type="submit" on:click={onSubmit}>Encrypt</Button>
            {/if} -->
        </div>
    </FormCard>
    <div class="password-form-slide__download">
        <CardsList id="encrypted-vault-list">
            <!-- <Link href={resultFile.downloadUrl} download={resultFile.name}>
                <FileCard name={resultFile.name} size={resultFile.size}>
                    <UploadIcon slot="suffix" />
                </FileCard>
            </Link> -->
        </CardsList>
    </div>
</div>

<style>
    .password-form-slide {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        height: 100%;
        gap: 0.5rem;
    }
    .submit-row {
        display: flex;
        align-self: flex-end;
        align-items: center;
        gap: 1rem;
        height: 3rem;
    }

    .submit-row :global(.spinner) {
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
    }

    .password-form-slide__download {
        margin-top: 1rem;
        min-height: 11rem;
    }
</style>
